.d-none {
    display: none !important;
  }
  
  .bool.select {
    background: #4b4bc8 !important;
    color: white !important;
  }
  
  .grade.select {
    transform: scale(1.08) !important;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&amp;display=swap');
  
  
  *{
      box-sizing: border-box;
      margin:0px;
      padding:0px;
      font-family: "Hanken Grotesk", sans-serif;
  }
  
  #video h1 {
      line-height: 0.2em;
      text-align: center;
      font-weight: 900;
      color: black;
      font-size: 19px;
  }
  #video h1 span {
      color: #143852;
  }

  
  .conteudo{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0.75rem;
      width: 100%;
  }
  
  .conteudo img {
    border-radius: 10px;
    max-width: 100%;
    max-width: 400px;
  }

  .header {
    background-image: linear-gradient(180deg,#143852 0%,#3d9900 100%);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .header img {
    width: 100px;
    height: 100%;
  }

  input.input {
      width: 100%;
      border: 1px solid grey;
      background-color: transparent;
      font-size: 1.2rem;
      border-radius: 50px;
      padding: 0.8rem;
      font-weight: normal;
      font-family: 'Hanken Grotesk', sans-serif;
      color: rgb(51, 65, 85);
  }

  nav.nav{
      display: flex;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      color: #000000;
      background-color: #282728;
      font-weight: 700;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 1.25rem;
  }
  
  
  
  @keyframes pulse {
      0% {
          transform: scale(0.95);
      }
  
      70% {
          transform: scale(1);
      }
  
      100% {
          transform: scale(0.95);
      }
  }
  
  .nav img{
      object-fit: contain;
      width: 9rem;
      height: 3rem;
  }
  
  .saldo{
    display: flex;
    flex-direction: column;
  }
.saldo h5 {
  position: absolute;
  top: 10px;
  right: 70px;
  background-color: #143852;
}

.saldo h1 {
    color: rgb(224, 7, 7);
    font-size: 25px;
    text-align: right;
}

.saldo p {
    color: #202020;
    font-weight: 600;
    text-align: right;
}

  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(210, 210, 210);
  }

  header img {
    width: 100px;
  }

  .inicio .container {
    background-image: linear-gradient(180deg,#143852 0%,#143852 100%);
  }

  .bg-div {
    background-color: #202020;
    padding: 20px 5%;
  }


  .money h2 {
    font-size: 18px;
    color: #E4E4E4;
    font-weight: normal;
  }

  .card-black {
    background-color: #282728;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
  }

  .card-black img {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
  }

  .card-black p{
    font-size: 17px;
    font-weight: 300;
    color: #b9b9b9;
  }
  .items {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .item input {
    width: 14px;
    height: 14px;
  }

  .item {
    font-size: 18px;
  }
  
  .headline{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      background-color: #000000;
      color: white !important;
      font-size: 0.8rem;
      margin: 10px 3%;
      border-radius: 10px;
      font-weight: bold;
      padding: 10px 1rem;
  }
  
  .headline-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #0f0f0f;
    color: white !important;
    font-size: 0.8rem;
    margin: 20px 3%;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 1rem;
  }
  
  .fillStar {
    fill: #fcff61;
  }
  
  .headline-2 h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .d-flex {
    justify-content: space-between;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .btn-green {
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 15px;
    background-color: #34A853;
  }
  
  .headline h3{
      display: block;
      font-size: 1.37em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold !important;
      color: white;
  }
  
  .opcoes img{
      width:100px;
      height: 100px;
  
      border: none;
      border-radius: 5px;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
  }
  .opcoes span{
      font-size: 1.1rem;
      line-height: 1.2em;
      margin: 0 10px;
      color: rgb(71, 85, 105);
      opacity: 0.5;
  }
  .box{
      display: flex;
      text-align: center;
      position: relative;
      padding: 1.25rem;
      padding-top: 0.8rem;
      background-color: #ffffff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      gap: 0.75rem;
      width: 100%;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  
  .box h1{
      line-height: 1.2em;
      color: #f7c86c;
      margin: 5px 0;
      font-size:24px;
  }
  .box h2{
      font-size: 1.1rem;
      line-height: 1.2em;
      color: rgb(48, 53, 61);
  }
  
  .titulo{
      font-size: 0.9rem;
      letter-spacing: normal;
      line-height: 1.2em;
      font-weight: bold;
      color: rgb(71, 85, 105);
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      margin-right: auto;
  }
  
  .produto{
      height: 100%;
      width: 100%;
      max-width: 220px;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      color: transparent;
  }
  
  .notas{
      display: grid;
      justify-content: center;
      align-items: center;
      width: 100%;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 0.5rem;
  }
  
  .nota{
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      transition-property: transform;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 5px;
      text-decoration: none;
      transition: all 150ms ease;
  }

  .progress {
    width: 100%;
    height: 7px;
    margin-bottom: 10px;
  }
  
  .nota:hover{
      cursor:pointer;
  }
  
  .nota-1{
      background: rgb(185, 28, 28);
  }
  
  .nota-2{
      background: rgb(194, 65, 12);
  }
  
  .nota-3{
      background: rgb(202, 138, 4);
  }
  
  .nota-4{
      background: rgb(101, 163, 13);
  }
  
  .nota-5{
      background: rgb(13, 148, 136);
  }
  
  .opaca{
      opacity: 0.3;
  }
  
  .clicado{
      opacity:1 !important;
  }
  
  .sim_nao{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
  }
  .sim_nao .sim_nao{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(226, 232, 240);
      width: 100%;
      padding: 0.6rem 0;
      font-weight: bold;
      border-radius: 0.25rem;
      color: rgb(51, 65, 85);
      transition: all 150ms ease;
  }
  .sim_nao .sim_nao:hover{
      cursor:pointer;
  }
  
  .sim_nao .clicado{
      display: flex;
      position: relative;
  
      background-color: #ffffff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      gap: 0.75rem;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
      background-color:#f7c86c;
      transform: scale(1.05);
      color:black;
  }
  
  
  /* Estilos globais */
  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    
    /* Estilos para o modal */
    .modal {
  
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: center;
  
    }
    
    .modal-content {
      background-color: white !important;
      margin: 100px auto;
      color: black !important;
      border: 2px solid white;
      padding: 30px 20px;
      border-radius: 25px;
      width: 85%;
      max-width: 600px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .modal-content h2 {
        color: #143852 !important;
        margin-top: 20px !important;
    }

    .modal-content p {
        color: #0f0f0f !important;
        font-size: 18px;
        font-weight: 600;
    }

    .modal-content h1 {
        color: rgb(224, 7, 7) !important;
        font-size: 37px !important; 
    }
    
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    /* Estilos adicionais para melhorar a aparÃªncia */
    button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #45a049;
    }
    
    h2 {
      margin-top: 0;
    }
    
    p {
      margin-bottom: 0;
    }
    
    #assistir{
      margin: 0 auto;
      margin-top: 10px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: #143852;
      padding: 0.6rem 1rem;
      width: max-content;
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 1.4rem;
      gap: 5px;
      border-radius: 10px;
      animation: pulse 1s ease alternate infinite;
    }
  
    #assistir:hover{
      cursor:pointer;
    }
  
    .modal{
      text-align: center;
    }
    .modal h2{
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
      margin: 0;
      margin-bottom: 15px;
  }
  
  
  .modal p{
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.74);
      text-align: center;
      margin: 0;
      margin-bottom: 15px;
  
  }
  
  
  .check{
      margin:15px;
      fill:green;
  }
  
  /* Classe para desabilitar o scroll */
  .no-scroll {
      overflow: hidden;
    }
  
    
    .container {
      padding: 20px 3%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    .elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button {
      font-size: 23px;
      font-weight: 500;
      fill: #fff;
      color: #fff;
      background-color: transparent;
      background-image: linear-gradient(180deg,#143852 0%,#143852 100%) !important;
      border-style: solid;
      border-width: 2px;
      border-color: #143852;
      border-radius: 36px
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title img {
    width: 40px;
    height: auto;;
  }

  .title p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #143852;
  }

  .svg-icon {
    fill: #143852;
    color: #143852;
  }

  .btn-active {
    font-size: 23px;
    font-weight: 500;
    fill: #fff;
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(180deg,#143852 0%,#143852 100%) !important;
    border-style: solid;
    border-width: 2px;
    padding: 10px 30px;
    border-color: #143852;
    border-radius: 10px;
    text-decoration: none;
    width: 70%;
  }
  
  .elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button:hover,.elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button:focus {
      color: #fff;
      background-color: #fff;
      border-color: #143852
  }
    .e-rating {
      display: flex;
      justify-content: center;
    position: relative;
    }

    .container h1 {
      font-size: 25px;
    }

.parabens {
  background-color: #143852;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

    .footer {
      display: flex;
      position: fixed;
      bottom: 0;
      background-color: white;
      width: 100%;
    }

    .elementor-icon {
      font-size: 25px !important;
    }

    .card {
      background-color: white;
      border-radius: 20px;
      width: 100%;
      color: #143852;
    }

    .card button {
        margin-top: 15px;
    }

    .parabens .card {
        margin-top: 20vh;
    }

    .card-container {
        width: 100%;
        padding: 20px 20px;
    }

    .card h1 {
        font-size: 26px;
        color: #143852;
    }

    .card p {

    }

    .btn-white {
      display: flex;
      background-color: white;
      color: #143852;
      font-size: 22px;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      margin-top: 20px;
      animation: pulse 3s ease alternate infinite;
    }

    .btn-purple {
      display: flex;
      background-color: #143852;
      color: white;
      font-size: 22px;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      animation: pulse 3s ease alternate infinite;
    }


  .btn-red {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    gap: 15px;
    background-color: rgb(255, 60, 60);
  }

  .subtitle {
    color: #0f0f0f;
    font-size: 15px;
    padding: 20px 0px;
    font-weight: 600;
  }

  .btn-blue {
    display: flex;
    background-color: #143852;
    color: white;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .btn-red {
    display: flex;
    background-color: red;
    color: white;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;

  }

  .btn-black {
    display: flex;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;

  }
  
    footer {
      padding: 20px;
      text-align: center;
    }

    footer img {
      width: 20%;
    }



    .d-flex {
      display: flex;
    }

.flex-column {
  flex-direction: column;
}

.footer .item {
  font-size: 2rem;
text-align: center;
margin: 20px;
}

  .card-border {
    border: 1px solid #143852;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 80%;
  }

    .btnBlue {
        width: 100%;
        background-color: #143852;
        color: white;
        font-weight: 500;
        font-size: 18px;
    }

    .wrapperOption {
      display: flex;
      justify-content: space-between;
    }
    
    .option {
      width: 100%;
      border-radius: 8px;
      height: 90px;
      align-items: center;
      gap: 5px;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      color: white;
      background-color: rgb(172, 172, 172);;
    }
    
    .option.selected {
      background-color: #143852;
      color: black;
    }
    
    .sobre {
      padding: 40px 3%;
    }
    
    .flex {
      display: flex;
    }
    
    .justify-center {
      justify-content: center;
    }
    
    .w-full {
      width: 100%;
    }
    
    .text-center {
      text-align: center;
    }
    
    #avaliacoes {
      margin: 20px 5%;
    }
    
    .sobre h2 {
      font-size: 40px;
      font-weight: normal;
      margin-bottom: 10px;
    }
    
    .sobre p, .depoimentos p {
      font-size: 14px;
      font-weight: bold;
      margin: 20px 0px;
    }
    
    .depoimentos {
      margin: 20px 0px;
      padding: 20px 3%;
    }
    
    table {
      margin: 20px auto;
    }
    
    table, th, td {
      border: 2px solid black;
      border-collapse: collapse;
    }
    
    td, th {
      padding: 5px;
    }
  
    .saque {
      color: black;
    }
  .saque input {
      background-color: transparent;
      color: black;
      border: 1px solid grey;
      border-radius: 10px;
      width: 100%;
      margin: 10px 0px;
      padding: 10px;
      font-size: 15px;
  }
  
  .btn {
      background-color: #143852;
      color: white;
      font-weight: bold;
      width: 100%;
  
  }
  
  
  .pop {
      width: 100%;
      height: 100%;
      position: fixed; 
      top: 0;
      left: 0; 
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      background-color: rgba(0, 0, 0, 0.473);
    }
    
    .pop-out-foto {
      border: 0px;
      background-color: white;
      color: black; 
      padding: 10px 0; 
      text-align: center; 
      width: 90%; 
      border-radius: 8px;
      font-size: 13px;
      margin-top: -20%;
    }
    
    .pop-out-foto img{
      width: 150px;
    }
    
  
    
    .btn-pop-out-foto {
      display: flex;
      background-color: #09BD4D;
      width:  90%;
      height: 40px;
      margin: 0 auto;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      color: white;
      margin-top: 15px;
      margin-bottom: 15px;
      animation: pulse infinite 2s;
      font-weight: bold;
    }
    
    .btnPulsing {
      animation: pulse 3s ease alternate infinite;
      background-color: #143852;
      color: white;
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      border-radius: 50px;
      padding: 15px 0px;
      border: 10px solid #20618f;
      margin: 15px 0px;
    }
  
    .logoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 200px;
      border: 5px solid #09BD4D;
      width: 200px;
    }
  
    .logoWrapper .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 3px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #09BD4D;
    }
  
    .check {
      position: absolute;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      background-color: white;
      border-radius: 50%;
      top: 16vh;
      margin-right: -130px;
    }
  
    .badge {
      background-color: #ebebeb9c;
      padding: 10px;
      margin: 10px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      font-size: 55px;
      color: #09BD4D;
      font-weight: bold;
    }
    
    .badge2 {
      background-color: #E00707;
      padding: 10px;
      margin: 10px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      font-size: 65px;
      color: #09BD4D;
      font-weight: bold;
    }
  
  
    .saque {
      color: black;
    }
  .saque input {
      background-color: transparent;
      color: black;
      border: 1px solid grey;
      border-radius: 10px;
      width: 100%;
      margin: 10px 0px;
      padding: 10px;
      font-size: 15px;
  }
  
  .btn {
      background-color: #143852;
      color: white;
      font-weight: bold;
      width: 100%;
  
  }
  
  
  .pop {
      width: 100%;
      height: 100%;
      position: fixed; 
      top: 0;
      left: 0; 
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      background-color: rgba(0, 0, 0, 0.473);
    }
    
    .pop-out-foto {
      border: 0px;
      background-color: white;
      color: black; 
      padding: 10px 0; 
      text-align: center; 
      width: 90%; 
      border-radius: 8px;
      font-size: 13px;
      margin-top: -20%;
    }
    
    .pop-out-foto img{
      width: 150px;
    }
    
  
    
    .btn-pop-out-foto {
      display: flex;
      background-color: #09BD4D;
      width:  90%;
      height: 40px;
      margin: 0 auto;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      color: white;
      margin-top: 15px;
      margin-bottom: 15px;
      animation: pulse infinite 2s;
      font-weight: bold;
    }
  
    .logoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 200px;
      border: 5px solid #09BD4D;
      width: 200px;
    }
  
    .logoWrapper .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 3px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #09BD4D;
    }
  
    .check {
      position: absolute;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      background-color: white;
      border-radius: 50%;
      top: 16vh;
      margin-right: -150px;
    }
  
  .wrapperOption {
    display: flex;
    justify-content: space-between;
  }

  #page-container {
    background-color: #282728 !important;
  }
  
  .option {
    width: 49%;
    border-radius: 20px;
    height: 90px;
    align-items: center;
    gap: 5px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white !important;
    background-color: rgb(196, 196, 196);;
  }
  
  .option.selected {
    background-color: #143852;
  }
  
  .saque {
    width: 100%;
  }
  
  .saque input {
    display: flex;
    width: 100%;
    margin: 15px auto;
    background-color: white;
    outline: none;
    border: 0.1px solid rgb(88, 87, 87);
    border-radius: 8px;
    height: 33px;
    color: black;
    padding-left: 15px;
  }
  
    .badge {
      background-color: #ebebeb9c;
      padding: 10px;
      margin: 10px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      font-size: 55px;
      color: #09BD4D;
      font-weight: bold;
    }
  
    .foto {
      border-radius: 50%;
      border: 5px solid #09BD4D;
    }

    .card-border input {
      width: 100%;
      display: flex;
      height: 40px;
      padding: 10px 20px;
      font-size: 17px;
      margin: 10px 0px;
      outline: none;
      border: 1px solid #0f0f0f;
      border-radius: 8px;
    }

    .e-form__step {
      width: 100%
  }
  
  .e-form__step:not(.elementor-hidden) {
      display: flex;
      flex-wrap: wrap
  }
  
  .e-form__buttons {
      flex-wrap: wrap
  }
  
  .e-form__buttons,.e-form__buttons__wrapper {
      display: flex
  }
  
  .e-form__indicators {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      font-size: 16px;
      margin-bottom: var(--e-form-steps-indicators-spacing)
  }
  
  .e-form__indicators__indicator {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 0;
      padding: 0 15px
  }
  
  .e-form__indicators__indicator__progress {
      width: 100%;
      position: relative;
      background-color: #820bd1;
      border-radius: #820bd1;
      overflow: hidden
  }
  
  .e-form__indicators__indicator__progress__meter {
      width: var(--e-form-steps-indicator-progress-meter-width,0);
      height: var(--e-form-steps-indicator-progress-height);
      line-height: var(--e-form-steps-indicator-progress-height);
      padding-right: 15px;
      border-radius: var(--e-form-steps-indicator-progress-border-radius);
      background-color: var(--e-form-steps-indicator-progress-color);
      color: #820bd1;
      text-align: right;
      transition: width .1s linear
  }
  
  .e-form__indicators__indicator:first-child {
      padding-left: 0
  }
  
  .e-form__indicators__indicator:last-child {
      padding-right: 0
  }
  
  .e-form__indicators__indicator--state-inactive {
      color: var(--e-form-steps-indicator-inactive-primary-color,#c2cbd2)
  }
  
  .e-form__indicators__indicator--state-inactive [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
      background-color: var(--e-form-steps-indicator-inactive-secondary-color,#fff)
  }
  
  .e-form__indicators__indicator--state-inactive object,.e-form__indicators__indicator--state-inactive svg {
      fill: var(--e-form-steps-indicator-inactive-primary-color,#c2cbd2)
  }
  
  .e-form__indicators__indicator--state-active {
      color: var(--e-form-steps-indicator-active-primary-color,#820bd1);
      border-color: var(--e-form-steps-indicator-active-secondary-color,#fff)
  }
  
  .e-form__indicators__indicator--state-active [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
      background-color: var(--e-form-steps-indicator-active-secondary-color,#fff)
  }
  
  .e-form__indicators__indicator--state-active object,.e-form__indicators__indicator--state-active svg {
      fill: var(--e-form-steps-indicator-active-primary-color,#39b54a)
  }
  
  .e-form__indicators__indicator--state-completed {
      color: var(--e-form-steps-indicator-completed-secondary-color,#fff)
  }
  
  .e-form__indicators__indicator--state-completed [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
      background-color: var(--e-form-steps-indicator-completed-primary-color,#39b54a)
  }
  
  .e-form__indicators__indicator--state-completed .e-form__indicators__indicator__label {
      color: var(--e-form-steps-indicator-completed-primary-color,#39b54a)
  }
  
  .e-form__indicators__indicator--state-completed .e-form__indicators__indicator--shape-none {
      color: var(--e-form-steps-indicator-completed-primary-color,#39b54a);
      background-color: initial
  }
  
  .e-form__indicators__indicator--state-completed object,.e-form__indicators__indicator--state-completed svg {
      fill: var(--e-form-steps-indicator-completed-secondary-color,#fff)
  }
  
  .e-form__indicators__indicator__icon {
      width: var(--e-form-steps-indicator-padding,30px);
      height: var(--e-form-steps-indicator-padding,30px);
      font-size: var(--e-form-steps-indicator-icon-size);
      border-width: 1px;
      border-style: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-bottom: 10px
  }
  
  .e-form__indicators__indicator__icon img,.e-form__indicators__indicator__icon object,.e-form__indicators__indicator__icon svg {
      width: var(--e-form-steps-indicator-icon-size);
      height: auto
  }
  
  .e-form__indicators__indicator__icon .e-font-icon-svg {
      height: 1em
  }
  
  .e-form__indicators__indicator__number {
      width: var(--e-form-steps-indicator-padding,30px);
      height: var(--e-form-steps-indicator-padding,30px);
      border-width: 1px;
      border-style: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px
  }
  
  .e-form__indicators__indicator--shape-circle {
      border-radius: 50%
  }
  
  .e-form__indicators__indicator--shape-square {
      border-radius: 0
  }
  
  .e-form__indicators__indicator--shape-rounded {
      border-radius: 5px
  }
  
  .e-form__indicators__indicator--shape-none {
      border: 0
  }
  
  .e-form__indicators__indicator__label {
      text-align: center
  }
  
  .e-form__indicators__indicator__separator {
      width: 100%;
      height: 1px;
      background-color: #babfc5
  }
  
  .e-form__indicators--type-icon,.e-form__indicators--type-icon_text,.e-form__indicators--type-number,.e-form__indicators--type-number_text {
      align-items: flex-start
  }
  
  .e-form__indicators--type-icon .e-form__indicators__indicator__separator,.e-form__indicators--type-icon_text .e-form__indicators__indicator__separator,.e-form__indicators--type-number .e-form__indicators__indicator__separator,.e-form__indicators--type-number_text .e-form__indicators__indicator__separator {
      margin-top: calc(var(--e-form-steps-indicator-padding,30px)/2 - var(--e-form-steps-divider-width,1px)/2)
  }
  
  .elementor-3885 .elementor-element.elementor-element-6952cf0a {
    --display: flex;
    --min-height: 100vh;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))*100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --background-transition: .3s;
    --z-index: 99999
}

.elementor-3885 .elementor-element.elementor-element-6952cf0a:not(.elementor-motion-effects-element-type-background),.elementor-3885 .elementor-element.elementor-element-6952cf0a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg,#143852 0%,#280042 100%)
}

.elementor-3885 .elementor-element.elementor-element-6952cf0a,.elementor-3885 .elementor-element.elementor-element-6952cf0a:before {
    --border-transition: .3s
}

.elementor-3885 .elementor-element.elementor-element-6da354af img {
    width: 306px
}

.elementor-3885 .elementor-element.elementor-element-4869c116 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --background-transition: .3s;
    --padding-top: 3px;
    --padding-bottom: 19px;
    --padding-left: 50px;
    --padding-right: 50px
}

.elementor-3885 .elementor-element.elementor-element-4869c116:not(.elementor-motion-effects-element-type-background),.elementor-3885 .elementor-element.elementor-element-4869c116>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg,#143852 0%,#143852 100%)
}

.elementor-3885 .elementor-element.elementor-element-4869c116,.elementor-3885 .elementor-element.elementor-element-4869c116:before {
    --border-transition: .3s
}

.elementor-3885 .elementor-element.elementor-element-4869c116>.elementor-shape-bottom svg,.elementor-3885 .elementor-element.elementor-element-4869c116>.e-con-inner>.elementor-shape-bottom svg {
    width: calc(300% + 1.3px);
    height: 204px
}

.elementor-3885 .elementor-element.elementor-element-4869c116>.elementor-shape-bottom,.elementor-3885 .elementor-element.elementor-element-4869c116>.e-con-inner>.elementor-shape-bottom {
    z-index: 2;
    pointer-events: none
}

.elementor-3885 .elementor-element.elementor-element-6096238e img {
    width: 86px
}

.elementor-3885 .elementor-element.elementor-element-6096238e>.elementor-widget-container {
    margin: 2px 0 0
}

.elementor-3885 .elementor-element.elementor-element-6096238e.elementor-element {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-3fc0baec {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: .3s;
    --margin-top: 4px;
    --margin-bottom: -18px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-3885 .elementor-element.elementor-element-60b7be9d .elementor-heading-title {
    color: #fff;
    font-family: "Sora",Sans-serif;
    font-size: 14px;
    font-weight: 300
}

.elementor-3885 .elementor-element.elementor-element-60b7be9d>.elementor-widget-container {
    margin: 3px 0 -4px -32px;
    padding: 0 2px;
    background-color: #143852
}

.elementor-3885 .elementor-element.elementor-element-60b7be9d.elementor-element {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-60b7be9d {
    z-index: 10
}

.elementor-3885 .elementor-element.elementor-element-13d74ede .elementor-counter-number-wrapper {
    color: #fff;
    font-family: "Montserrat",Sans-serif;
    font-size: 18px;
    font-weight: 700
}

.elementor-3885 .elementor-element.elementor-element-13d74ede>.elementor-widget-container {
    margin: -16px 0 0 -1px;
    padding: 11px 15px 26px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 20px
}

.elementor-3885 .elementor-element.elementor-element-13d74ede.elementor-element {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-161a0354 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: .3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-3885 .elementor-element.elementor-element-4158b762 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: .3s;
    --padding-top: 40px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-3885 .elementor-element.elementor-element-4158b762,.elementor-3885 .elementor-element.elementor-element-4158b762:before {
    --border-transition: .3s
}

.elementor-3885 .elementor-element.elementor-element-57f87f9d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --flex-wrap: nowrap;
    --background-transition: .3s
}

.elementor-3885 .elementor-element.elementor-element-57f87f9d.e-con {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-5ec10af {
    text-align: right;
    width: var(--container-widget-width,7%);
    max-width: 7%;
    --container-widget-width: 7%;
    --container-widget-flex-grow: 0
}

.elementor-3885 .elementor-element.elementor-element-5ec10af img {
    width: 100%
}

.elementor-3885 .elementor-element.elementor-element-5ec10af>.elementor-widget-container {
    margin: 0 -13px 0 0
}

.elementor-3885 .elementor-element.elementor-element-7054d880 .elementor-icon-list-icon i {
    color: #143852;
    transition: color .3s
}

.elementor-3885 .elementor-element.elementor-element-7054d880 .elementor-icon-list-icon svg {
    fill: #143852;
    transition: fill .3s
}

.elementor-3885 .elementor-element.elementor-element-7054d880 {
    --e-icon-list-icon-size: 33px;
    --icon-vertical-offset: 0px
}

.elementor-3885 .elementor-element.elementor-element-7054d880 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-3885 .elementor-element.elementor-element-7054d880 .elementor-icon-list-item>a {
    font-family: "Sora",Sans-serif;
    font-size: 24px;
    font-weight: 700
}

.elementor-3885 .elementor-element.elementor-element-7054d880 .elementor-icon-list-text {
    color: #143852;
    transition: color .3s
}

.elementor-3885 .elementor-element.elementor-element-7054d880>.elementor-widget-container {
    margin: 0
}

.elementor-3885 .elementor-element.elementor-element-7054d880.elementor-element {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-11fe7ee7 .elementor-icon-list-icon i {
    color: #143852;
    transition: color .3s
}

.elementor-3885 .elementor-element.elementor-element-11fe7ee7 .elementor-icon-list-icon svg {
    fill: #143852;
    transition: fill .3s
}

.elementor-3885 .elementor-element.elementor-element-11fe7ee7 {
    --e-icon-list-icon-size: 30px;
    --icon-vertical-offset: 0px
}

.elementor-3885 .elementor-element.elementor-element-11fe7ee7 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-3885 .elementor-element.elementor-element-11fe7ee7 .elementor-icon-list-item>a {
    font-family: "Sora",Sans-serif;
    font-size: 24px;
    font-weight: 700
}

.elementor-3885 .elementor-element.elementor-element-11fe7ee7 .elementor-icon-list-text {
    color: #143852;
    transition: color .3s
}

.elementor-3885 .elementor-element.elementor-element-11fe7ee7>.elementor-widget-container {
    margin: -74px 0 0
}

.elementor-3885 .elementor-element.elementor-element-11fe7ee7.elementor-element {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-38cff10 {
    --display: flex;
    --background-transition: .3s;
    --border-radius: 20px;
    --margin-top: -61px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-3885 .elementor-element.elementor-element-38cff10,.elementor-3885 .elementor-element.elementor-element-38cff10:before {
    --border-transition: .3s
}

.elementor-3885 .elementor-element.elementor-element-38cff10.e-con {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-70291b04>.elementor-widget-container {
    margin: 0
}

.elementor-3885 .elementor-element.elementor-element-139eb773>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-8dbe960 img {
    border-style: none
}

.elementor-3885 .elementor-element.elementor-element-8dbe960>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-79bd5765 img {
    border-style: solid;
    border-width: 2px;
    border-color: #7413D54A;
    border-radius: 15px
}

.elementor-3885 .elementor-element.elementor-element-79bd5765>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-2ee11892 img {
    border-style: none
}

.elementor-3885 .elementor-element.elementor-element-2ee11892>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-5ff2e101 img {
    border-style: none
}

.elementor-3885 .elementor-element.elementor-element-5ff2e101>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-35d7b711 img {
    border-radius: 20px 20px 20px 0
}

.elementor-3885 .elementor-element.elementor-element-35d7b711>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-38fb174>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-28fb7c2a>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-9c93aa2>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-60150cb7>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-d2543b6>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-33c541d2>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-3640b7c1>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-418f03ef>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-57a95749>.elementor-widget-container {
    margin: 0 20px;
    padding: 0
}

.elementor-3885 .elementor-element.elementor-element-f362865 {
    --display: flex;
    --background-transition: .3s
}

.elementor-3885 .elementor-element.elementor-element-00165bd {
    text-align: center
}

.elementor-3885 .elementor-element.elementor-element-00165bd .elementor-heading-title {
    color: #143852;
    font-family: "Sora",Sans-serif;
    font-size: 23px;
    font-weight: 600
}

.elementor-3885 .elementor-element.elementor-element-00165bd>.elementor-widget-container {
    margin: 0
}

.elementor-3885 .elementor-element.elementor-element-56c278c3 {
    text-align: center
}

.elementor-3885 .elementor-element.elementor-element-56c278c3 .elementor-heading-title {
    color: #143852;
    font-family: "Sora",Sans-serif;
    font-size: 24px;
    font-weight: 600
}

.elementor-3885 .elementor-element.elementor-element-56c278c3>.elementor-widget-container {
    margin: 0 0 3px
}

.elementor-3885 .elementor-element.elementor-element-1a9b26d7 {
    --e-rating-justify-content: center;
    --e-rating-icon-font-size: 18px;
    --e-rating-icon-marked-color: #143852;
    --e-rating-icon-color: #b9b9b9
}

.elementor-3885 .elementor-element.elementor-element-423eb4ad.elementor-element {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button {
    font-family: "Montserrat",Sans-serif;
    font-size: 23px;
    font-weight: 500;
    fill: #fff;
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(180deg,#143852 0%,#143852 100%);
    border-style: solid;
    border-width: 2px;
    border-color: #143852;
    border-radius: 36px
}

.elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button:hover,.elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button:focus {
    color: #fff;
    background-color: #fff;
    border-color: #143852
}

.elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button:hover svg,.elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button:focus svg {
    fill: #fff
}

.elementor-3885 .elementor-element.elementor-element-549dff54>.elementor-widget-container {
    padding: 0 15px
}

.elementor-3885 .elementor-element.elementor-element-21f8ff12 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: .3s;
    border-style: solid;
    --border-style: solid;
    border-width: 2px 0 0;
    --border-top-width: 2px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: #dbdbdb;
    --border-color: #dbdbdb;
    --border-radius: 25% 25% 0% 0%
}

.elementor-3885 .elementor-element.elementor-element-21f8ff12:not(.elementor-motion-effects-element-type-background),.elementor-3885 .elementor-element.elementor-element-21f8ff12>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff
}

.elementor-3885 .elementor-element.elementor-element-21f8ff12,.elementor-3885 .elementor-element.elementor-element-21f8ff12:before {
    --border-transition: .3s
}

.elementor-3885 .elementor-element.elementor-element-34147ad5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: .3s
}

.elementor-3885 .elementor-element.elementor-element-663a5872 .elementor-icon-wrapper {
    text-align: center
}

.elementor-3885 .elementor-element.elementor-element-663a5872.elementor-view-stacked .elementor-icon {
    background-color: #af3cdc
}

.elementor-3885 .elementor-element.elementor-element-663a5872.elementor-view-framed .elementor-icon,.elementor-3885 .elementor-element.elementor-element-663a5872.elementor-view-default .elementor-icon {
    color: #af3cdc;
    border-color: #af3cdc
}

.elementor-3885 .elementor-element.elementor-element-663a5872.elementor-view-framed .elementor-icon,.elementor-3885 .elementor-element.elementor-element-663a5872.elementor-view-default .elementor-icon svg {
    fill: #af3cdc
}

.elementor-3885 .elementor-element.elementor-element-663a5872 .elementor-icon {
    font-size: 35px
}

.elementor-3885 .elementor-element.elementor-element-663a5872 .elementor-icon svg {
    height: 35px
}

.elementor-3885 .elementor-element.elementor-element-663a5872 {
    width: var(--container-widget-width,95%);
    max-width: 95%;
    --container-widget-width: 95%;
    --container-widget-flex-grow: 0
}

.elementor-3885 .elementor-element.elementor-element-663a5872.elementor-element {
    --align-self: center
}

.elementor-3885 .elementor-element.elementor-element-4998c632 .elementor-icon-wrapper {
    text-align: center
}

.elementor-3885 .elementor-element.elementor-element-4998c632.elementor-view-stacked .elementor-icon {
    background-color: #cacaca
}

.elementor-3885 .elementor-element.elementor-element-4998c632.elementor-view-framed .elementor-icon,.elementor-3885 .elementor-element.elementor-element-4998c632.elementor-view-default .elementor-icon {
    color: #cacaca;
    border-color: #cacaca
}

.elementor-3885 .elementor-element.elementor-element-4998c632.elementor-view-framed .elementor-icon,.elementor-3885 .elementor-element.elementor-element-4998c632.elementor-view-default .elementor-icon svg {
    fill: #cacaca
}

.elementor-3885 .elementor-element.elementor-element-4998c632 .elementor-icon {
    font-size: 35px
}

.elementor-3885 .elementor-element.elementor-element-4998c632 .elementor-icon svg {
    height: 35px
}

.elementor-3885 .elementor-element.elementor-element-4998c632 {
    width: var(--container-widget-width,95%);
    max-width: 95%;
    --container-widget-width: 95%;
    --container-widget-flex-grow: 0
}

.elementor-3885 .elementor-element.elementor-element-4998c632.elementor-element {
    --align-self: center
}

@media(max-width: 767px) {
    .elementor-3885 .elementor-element.elementor-element-6da354af img {
        width:187px
    }

    .elementor-3885 .elementor-element.elementor-element-4869c116 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --flex-wrap: nowrap;
        --padding-top: 4px;
        --padding-bottom: 8px;
        --padding-left: 30px;
        --padding-right: 30px
    }

    .elementor-3885 .elementor-element.elementor-element-4869c116>.elementor-shape-bottom svg,.elementor-3885 .elementor-element.elementor-element-4869c116>.e-con-inner>.elementor-shape-bottom svg {
        height: 121px
    }

    .elementor-3885 .elementor-element.elementor-element-6096238e>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-3fc0baec {
        --width: 44%;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-3885 .elementor-element.elementor-element-60b7be9d>.elementor-widget-container {
        margin: 0 0 -6px
    }

    .elementor-3885 .elementor-element.elementor-element-13d74ede .elementor-counter-number-wrapper {
        font-size: 17px
    }

    .elementor-3885 .elementor-element.elementor-element-13d74ede>.elementor-widget-container {
        margin: -13px -15px 0 0;
        padding: 11px 26px 23px;
        border-radius: 50px
    }

    .elementor-3885 .elementor-element.elementor-element-13d74ede.elementor-element {
        --align-self: flex-end
    }

    .elementor-3885 .elementor-element.elementor-element-161a0354 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px
    }

    .elementor-3885 .elementor-element.elementor-element-4158b762 {
        --content-width: 370px;
        --padding-top: 40px;
        --padding-bottom: 40px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-3885 .elementor-element.elementor-element-57f87f9d {
        --gap: 6px 6px
    }

    .elementor-3885 .elementor-element.elementor-element-5ec10af>.elementor-widget-container {
        margin: 0
    }

    .size-large {
      width: 80%;
      height: auto;
      border: 1px solid #143852;
      border-radius: 8px;
      margin: 0 auto;
    }

    .elementor-3885 .elementor-element.elementor-element-5ec10af {
        --container-widget-width: 35px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width,35px);
        max-width: 35px
    }

    .elementor-3885 .elementor-element.elementor-element-7054d880 {
        --e-icon-list-icon-size: 0px
    }

    .elementor-3885 .elementor-element.elementor-element-7054d880 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-3885 .elementor-element.elementor-element-7054d880 .elementor-icon-list-item>a {
        font-size: 16px;
        line-height: 1.2em
    }

    .elementor-3885 .elementor-element.elementor-element-7054d880.elementor-element {
        --align-self: center
    }

    .elementor-3885 .elementor-element.elementor-element-11fe7ee7 {
        --e-icon-list-icon-size: 21px
    }

    .elementor-3885 .elementor-element.elementor-element-11fe7ee7 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-3885 .elementor-element.elementor-element-11fe7ee7 .elementor-icon-list-item>a {
        font-size: 19px
    }

    .elementor-3885 .elementor-element.elementor-element-11fe7ee7>.elementor-widget-container {
        margin: -62px 0 0
    }

    .elementor-3885 .elementor-element.elementor-element-38cff10 {
        --border-radius: 15px;
        --margin-top: -91px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 10px;
        --padding-right: 10px
    }

    .elementor-3885 .elementor-element.elementor-element-139eb773>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-8dbe960>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-79bd5765>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-2ee11892>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-5ff2e101>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-35d7b711>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-38fb174>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-28fb7c2a>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-9c93aa2>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-60150cb7>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-d2543b6>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-33c541d2>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-3640b7c1>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-418f03ef>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-57a95749>.elementor-widget-container {
        margin: 0
    }

    .elementor-3885 .elementor-element.elementor-element-f362865 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-3885 .elementor-element.elementor-element-00165bd .elementor-heading-title {
        font-size: 21px
    }

    .elementor-3885 .elementor-element.elementor-element-56c278c3 .elementor-heading-title {
        font-size: 28px
    }

    .elementor-3885 .elementor-element.elementor-element-423eb4ad>.elementor-widget-container {
        padding: 10px
    }

    .elementor-3885 .elementor-element.elementor-element-549dff54 .elementor-button {
        font-size: 21px;
        border-radius: 10px;
        padding: 11px 30px
    }

    .elementor-3885 .elementor-element.elementor-element-549dff54>.elementor-widget-container {
        padding: 0
    }

    .elementor-3885 .elementor-element.elementor-element-21f8ff12 {
        --content-width: 400px;
        --justify-content: space-evenly;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow))*100%);
        --border-radius: 25% 25% 0% 0%
    }

    .elementor-3885 .elementor-element.elementor-element-34147ad5 {
        --width: 81%;
        --justify-content: space-between;
        --gap: 22px 22px;
        --flex-wrap: nowrap
    }

    .elementor-3885 .elementor-element.elementor-element-663a5872 .elementor-icon-wrapper {
        text-align: center
    }

    .elementor-3885 .elementor-element.elementor-element-663a5872 {
        --container-widget-width: 69px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width,69px);
        max-width: 69px
    }

    .elementor-3885 .elementor-element.elementor-element-4998c632 .elementor-icon-wrapper {
        text-align: center
    }

    .elementor-3885 .elementor-element.elementor-element-4998c632 {
        --container-widget-width: 69px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width,69px);
        max-width: 69px
    }
}

@media(min-width: 768px) {
    .elementor-3885 .elementor-element.elementor-element-3fc0baec {
        --width:10%
    }

    .elementor-3885 .elementor-element.elementor-element-57f87f9d {
        --width: 47%
    }

    .elementor-3885 .elementor-element.elementor-element-38cff10 {
        --width: 47%
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-3885 .elementor-element.elementor-element-38cff10 {
        --width:580px
    }
}

.iniciarb {
    opacity: 0;
    transition: 1s;
    filter: blur(10px);
    transform: scale(1)
}

.iniciarativob {
    opacity: 1;
    transition: 1s;
    filter: blur(0px);
    transform: scale(1.2)
}

.iniciar2b {
    transition: all 1s !important;
    clip-path: circle(70.7% at 50% 50%)
}

.iniciarativo2b {
    position: relative;
    transition: all 1s !important;
    clip-path: circle(0% at 50% 50%)
}

.elementor-3885 .elementor-element.elementor-element-6952cf0a {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none !important
}

.elementor-3885 .elementor-element.elementor-element-13d74ede {
    padding: 10px 15px;
    border-radius: 5px
}

.elementor-3885 .elementor-element.elementor-element-36313628 {
    opacity: 30%
}

.white {
    position: absolute;
    top: 0;
    left: -30%;
    width: 100vw;
    height: 90vh;
    z-index: -1;
    overflow: hidden
}

.squares {
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden
}

.square {
    animation: squares 9.5s linear infinite;
    align-self: flex-end;
    width: 1em;
    height: 1em;
    transform: translateY(100%);
    background: #f6deff
}

.square:nth-child(2) {
    height: 1.5em;
    width: 3em;
    animation-delay: 1s;
    animation-duration: 17s;
    filter: blur(5px)
}

.square:nth-child(3) {
    height: 2em;
    width: 1em;
    animation-delay: 1.5s;
    animation-duration: 8s
}

.square:nth-child(4) {
    height: 1em;
    width: 1.5em;
    animation-delay: .5s;
    filter: blur(3px);
    animation-duration: 13s
}

.square:nth-child(5) {
    height: 1.25em;
    width: 2em;
    animation-delay: 4s;
    filter: blur(2px);
    animation-duration: 11s
}

.square:nth-child(6) {
    height: 2.5em;
    width: 2em;
    animation-delay: 2s;
    filter: blur(1px);
    animation-duration: 9s
}

.square:nth-child(7) {
    height: 5em;
    width: 2em;
    filter: blur(2.5px);
    animation-duration: 12s
}

.square:nth-child(8) {
    height: 1em;
    width: 3em;
    animation-delay: 5s;
    filter: blur(6px);
    animation-duration: 18s
}

.square:nth-child(9) {
    height: 1.5em;
    width: 2em;
    filter: blur(.5px);
    animation-duration: 9s
}

.square:nth-child(10) {
    height: 3em;
    width: 2.4em;
    animation-delay: 6s;
    filter: blur(.5px);
    animation-duration: 12s
}

@keyframes squares {
    from {
        transform: translateY(100%) rotate(-50deg)
    }

    to {
        transform: translateY(calc(-100vh - 100%)) rotate(20deg)
    }
}

.elementor-3885 .elementor-element.elementor-element-1a9b26d7 {
    filter: hue-rotate(10deg) brightness(1.2)
}

body,html {
    overflow-x: hidden !important
}

[data-elementor-type=wp-page] {
    overflow: hidden
}

body::-webkit-scrollbar {
    width: 9px;
    background-color: #d8d8d8
}

body::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: linear-gradient(to bottom,#7509bc 10%,#490377 90%)
}

body.elementor-page-3885 .elementor-button {
    border-radius: 5px !important
}

.footer {
  border-top: 2px solid rgba(167, 167, 167, 0.384);
  border-radius: 50px 50px 0px 0px;
}

.footer .item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.smartplayer-call-action.smartplayer-hide {
    display: none;
}

.smartplayer-call-action.callaction_67bfd58158aab1e8fe381864_0 {
    text-align: center;
    padding: 40px 10px;
}

.smartplayer-call-action.callaction_67bfd58158aab1e8fe381864_0 a.smartplayer-call-action--link {
    background-color: #ff2d2d;
    color: #FFFFFF;
    padding: 1em 3em;
    display: inline-block;
    border-radius: 0.4em;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.smartplayer-call-action.callaction_67bfd58158aab1e8fe381864_0 a.smartplayer-call-action--link:hover {
    background-color: #1890ff;
    color: #ffffff;
    text-decoration: none;
}
